[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cssmin = "==0.2.0"
jsmin = "==2.2.1"
passlib = "==1.7.0"
Flask = "==0.11.1"
Flask-SQLAlchemy = "==2.1"
Flask-WTF = "==0.13.1"
WTForms-Alchemy = "==0.16.1"
SQLAlchemy-Continuum = "==1.2.4"
SQLAlchemy-Utils = "==0.32.11"
Flask-Migrate = "==2.0.1"
Flask-Assets = "==0.12"
Flask-Cache = "==0.13.1"
Flask-Testing = "==0.6.1"

[dev-packages]

[requires]
python_version = "3.6"
