.form-admin {
    padding-top: 1.5rem;
}

.form-admin .field * {
    box-sizing: border-box;
}

.form-admin button, .form-admin input[type="submit"] {
    padding: 0.6rem;
    margin: 1.0rem 0 0 0;
    font-size: 1.3rem;
    cursor: pointer;
}

.form-admin .field label {
    display: block;
    font-weight: bold;
    margin: 0.5rem 0;
}

.form-admin .field input, .form-admin .field select {
    min-width: 10.0rem;
    width: 60%;
    display: block;
    height: 3.0rem;
    font-size: 1.3rem;
    color: #333;
    border: 0.1rem solid gray;
    border-radius: 0.2rem;
    padding: 0.2rem 0.5rem;
    background-color: #fff;
}

.form-admin .field input[type="checkbox"] {
    height: 1.5rem;
    width: 1.5rem;
    min-width: inherit;
}

.form-admin .errors {
    margin: 0;
    color: #772B2A;
}

.form-admin .errors li {
    margin: 0.5rem 0;
}

.admin-list {
    list-style: decimal;
}

.admin-list li {
    background-color: rgb(176, 176, 176);
    margin: 0;
    border: 0.1rem solid gray;
    border-top: none;
}

/* Add top border on first element */
.admin-list li:nth-child(1) {
    border-top: 0.1rem solid gray;

}

.admin-list li:nth-child(even) {
    background-color: rgb(224, 224, 224);
}

.admin-list a {
    display: inline-block;
    padding: 1.0rem;
}

.admin-list a:hover {
    text-decoration: underline;

}

.admin-list a.link {
    width: 80%;
    height: 100%;
}

.admin-list a.delete {
    float: right;
}

/* Register link on admin login */
.admin-register {
      font-size: 1.8rem;
      color: #203949;
      font-weight: bold;
      margin: 1.0rem 0;
      float: left;
}
