.form-admin .field * {
    box-sizing: border-box;
}

.form-admin button, .form-admin input[type="submit"] {
    padding: 6px;
    font-size: 13px;
    cursor: pointer;
}

.form-admin .field label {
    display: block;
    font-weight: bold;
}

.form-admin .field input, .form-admin .field select {
    min-width: 100px;
    width: 60%;
    display: block;
    height: 30px;
    font-size: 13px;
    color: #333;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 2px 5px;
    background-color: #fff;
}

.form-admin .field input[type="checkbox"] {
    height: 15px;
    width: 15px;
    min-width: inherit;
}
