.form-admin .field * {
    box-sizing: border-box;
}

.form-admin button, .form-admin input[type="submit"] {
    padding: 6px;
    font-size: 13px;
    cursor: pointer;
}

.form-admin .field label {
    display: block;
    font-weight: bold;
}

.form-admin .field input, .form-admin .field select {
    min-width: 100px;
    width: 60%;
    display: block;
    height: 30px;
    font-size: 13px;
    color: #333;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 2px 5px;
    background-color: #fff;
}

.form-admin .field input[type="checkbox"] {
    height: 15px;
    width: 15px;
    min-width: inherit;
}

.admin-list {
    list-style: none;
    padding: 0;
}

.admin-list li {
    background-color: rgb(176, 176, 176);
    margin: 0;
    border: 1px solid gray;
    border-top: none;
}

/* Add top border on first element */
.admin-list li:nth-child(1) {
    border-top: 1px solid gray;

}

.admin-list li:nth-child(even) {
    background-color: rgb(224, 224, 224);
}

.admin-list a {
    display: inline-block;
    padding: 10px;
}

.admin-list a:hover {
    text-decoration: underline;

}

.admin-list a.link {
    width: 80%;
    height: 100%;
}

.admin-list a.delete {
    float: right;
}