* {
    box-sizing: border-box;
}
body {
    margin: 58px 20px 20px 175px;
    padding-left: 20px;
    background-color: #EFEFEF;
    font-weight: 300;
    font-size: 16px;
    font-family: Helvetica, Sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

h1, h2, h3, h4 {
    font-family: Roboto, Helvetica;
    color: #353535;
}

nav {
    z-index: 1001;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 176px;
    border: 1px solid transparent;
    border-width: 0 1px 0 0;
    border-color: #999999;
    background-color: #203949;
    font-family: Roboto, Helvetica;
}

nav.closed {
    height: 53px;
    overflow: hidden;
}

nav .logo {
    padding: 10px 10px 0 5px;
}

nav .logo i {
    font-size: 30px;
    padding: 0 6px 0 6px;
    color: #DFDFDF;
    cursor: pointer;
}

nav .logo a {
    font-size: 25px;
    color: #A6A6A6;
    font-weight: bold;
}

nav li {
    font-size: 15px;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

nav ul ul {
    padding-left: 20px;
}

nav li.active a {
    box-shadow: inset 0 -2px 0 #0C2C44;
    background-color: rgb(224, 224, 224);
    font-weight: bold;
}

nav li > a {
    display: block;
    position: relative;
    padding: 7px;
    background-color: #EDEDED;
    color: #353535;
    text-decoration: none;
    border: 0 solid #242424;
    border-width: 0 0 1px 0;
}

nav li > a:hover {
    box-shadow: inset 0 -2px 0 #1A6396;
}

nav ul ul li a {
    border-left-width: 1px;
}

/* Getting pretty hacky here */

/* Match all elements with no prev sibling */
nav > ul > li:first-child > a, nav ul + li > a {
    border-top-width: 1px;
}

/* All indentations */
nav ul > li:first-child > a {
    border-bottom-width: 1px;
}

/* Ugly fucking hack */
nav a:last-child {
    border-bottom-width: 1px !important;
}

/* Last element of indentation */
nav ul ul li:last-child > a {
    border-bottom-width: 0;
}

.courses {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    clear: both;
    max-width: 800px;
    display: inline-flex;
    flex-wrap: wrap;
}

.courses li {
    background: #FFFFFF;
    padding: 0;
    margin: 0 5px 5px 0;
    text-align: center;
    width: 25%;
    min-width: 125px;
    max-width: 200px;
    border: 3px solid #CFCFCF;
}

.courses a {
    padding: 0;
    display: block;
    text-decoration: none;
    color: #D8D8D8;
    font-size: 23px;
    font-weight: bold;
}

.courses li:hover {
    border-color: #A4A4A5;
}

.courses li:hover .name, .courses li:hover .count {
    color: #343434;
}

.courses li:hover .code {
    background: #1E445E;
}

.courses .count {
    font-size: 20px;

    color: #6B6868;
    padding: 5px 0;
}

.courses .count small {
    font-size: 15px;

}

.courses .code {
    color: white;
    background: #2A536E;
    padding: 20px 0;
}

.courses .name {
    padding: 5px 0 10px 0;
    font-size: 12px;
    font-weight: normal;
    color: #444;
}

.error label {
    color: #772B2A;
    font-weight: bold;
}

.success label {
    color: #2D662E;
    font-weight: bold;
}

form label {
    display: inline;
    cursor: pointer;
}

form label:hover {
    color: #3D3D3D;
}

.question {
    width: 800px;
    display: inline-block;
    float: left;
    margin: 0 20px 20px 0;
    clear: both;
}

/* Fixed 800px width is only used on larger displays to position the stats box correctly */
@media (max-width: 975px) {
    .question {
        width: auto;
        max-width: 800px;
    }
}

.question .image {
    display: inline-block;
}

.question .image img {
    border: 1px solid #CACACA;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

.question .radio {
    padding-left: 20px;
    margin: 10px;
}

.question .radio label {
    padding: 5px;
}

.question input[type=radio] {
    display: block;
    float: left;
    margin-left: -20px;
}

.reason {
    margin: 10px 0 0 0;
}

button[type=submit] {
    padding: 7px 15px;
    margin: 0;
    background: #14354A;
    color: #E4E4E4;
    font-weight: bold;
    border: 1px solid #494949;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

button[type=submit]:hover {
    background: #2A536E;
}

.navigation {
    padding-top: 10px;
    display: inline-block;
}

.navigation a {
    float: left;
    padding: 8px 12px 7px 12px;
    margin: 0;
    background: #FFFFFF;
    color: #5A5A5A;
    border: 1px solid #CDC6C6;
    border-width: 1px 1px 1px 0;
}

.navigation a:hover {
    background: #EAEAEA;
    border-color: #989898;
}

.navigation a ~ a:hover {
    border-width: 1px;
    margin-left: -1px;
}

.navigation a:first-of-type {
    border-left-width: 1px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.navigation a:last-of-type {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;   
}

.stats {
    float: left;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #B3B3B3;
    margin: 25px 0 0 0;
    color: #2A2A2A;
    font-family: Roboto;
}

.stats .grade {
    font-family: Helvetica;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #474747;
}

.stats .reset {
    margin-top: 10px;
}

.stats .reset a {
    color: #474747;
}

.stats .reset a:hover {
    text-decoration: underline;
}

.alerts {
    list-style: none;
    margin: 0;
    padding: 0;
}

.alert {
    display: block;
    min-width: 400px;
    background: #BDBCBC;
    color: #2A2A2A;
    border: 1px solid #B3B3B3;
    border-radius: 3px;
    padding: 10px;
}

.alert.info {}

.alert.error {
    color: #772B2A;
    background: #CAB9B9;
}

.alert.success {
    color: #2D662E;
    background: #B1C0B2;
}

/* heh */
blaze {
    color: darkred;
    animation: blink 1s steps(4, start) infinite;
    -webkit-animation: blink 1s steps(4, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink {
    to {
        visibility: hidden;
    }
}
