{% extends "base.html" %}

{% block menu %}
<li><a href="/tips"><i class="fa fa-list fa-fw"></i>&nbsp; Emner</a></li>
<li><a href="/tips"><i class="fa fa-list fa-fw"></i>&nbsp; Eksamener</a></li>
{% endblock %}

{% block content %}
{% if admin %}
Du er logget inn.
{% else %}
<form method="POST">
    <div class="field">
        <label>Passord</label>
        <input name="password" type="text">
    </div>
</form>
{% endif %}
{% endblock %}

{% block js %}
{{ super() }}
    {% assets "admin_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
