{% extends "base.html" %}

{% block menu %}
<li><a href="/admin"><i class="fa fa-list fa-fw"></i>&nbsp; Admin</a></li>
<ul>
    <li><a href="/admin/courses"><i class="fa fa-list fa-fw"></i>&nbsp; Fag</a></li>
</ul>
{% endblock %}

{% block content %}
<h1>Administrasjonspanel</h1>
{% if admin %}
{% else %}
<h2>Logg inn</h2>
<form method="POST" class="form-admin">
    <div class="field">
        <label>Brukernavn</label>
        <input name="username" type="text">
    </div>
    <div class="field">
        <label>Passord</label>
        <input name="password" type="password">
    </div>
    <input type="submit" value="Logg inn">
</form>

<a class="admin-register" href="/register">Eller registrer deg</a>
{% endif %}
{% endblock %}

{% block js %}
{{ super() }}
    {% assets "admin_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
