{% from "admin/_formhelpers.html" import render_form %}
{% extends "base.html" %}

{% block menu %}
<li><a href="/admin"><i class="fa fa-list fa-fw"></i>&nbsp; Admin</a></li>
<ul>
    <li><a href="/admin/courses"><i class="fa fa-list fa-fw"></i>&nbsp; Fag</a></li>
</ul>
{% endblock %}

{% block content %}
<h1>Administrasjonspanel</h1>
{% if admin %}
<a href="courses">Fagliste</a>
{% else %}

<h2>Logg inn</h2>

{{ render_form(form, submit_text='Logg inn') }}

<a class="admin-register" href="/login">Logg inn først</a>
{% endif %}
{% endblock %}

{% block js %}
{{ super() }}
    {% assets "admin_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
