{% from "admin/_formhelpers.html" import render_form %}
{% extends "admin/admin.html" %}

{% block content %}
<h1>{{ question.course }} - {{ question.exam }}</h1>

{% if next_question %}
<div class="navigation">
    <a href="{{ url_for('admin.question', question_id=next_question.id) }}">Neste spørsmål</a>
</div>

<h2>{{ question }}</h2>
{% endif %}

{{ render_form(form, '/api/questions/' + question.id|string, new=False) }}

{% if question.is_multiple %}
<h2>Legg til nytt alternativ</h2>

{{ render_form(alt_form, '/api/alternatives/') }}

<h2>Alternativer</h2>
<ul class="admin-list" data-api="/api/alternatives/" data-filter="?question_id={{ question.id }}" data-url="/admin/question/{{ question.id }}/"></ul>
{% endif %}
{% endblock %}
