{% from "admin/_formhelpers.html" import render_form %}
{% extends "base.html" %}

{% block menu %}
<li><a href="{{ url_for('admin.index') }}"><i class="fa fa-list fa-fw"></i>&nbsp; Admin</a></li>
<ul>
    <li><a href="{{ url_for('admin.courses') }}"><i class="fa fa-list fa-fw"></i>&nbsp; Fag</a></li>
</ul>
{% endblock %}

{% block content %}
<h1 class="admin-header">Administrasjonspanel</h1>

<a href="{{ url_for('admin.courses') }}">Fagliste</a>
{% endblock %}

{% block js %}
{{ super() }}
    <script>
    window.isAdmin = {{ 'true' if user.admin else 'false' }};
    </script>
    {% assets "admin_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
