{% from "admin/_formhelpers.html" import render_form %}
{% from "admin/_history.html" import version_history %}
{% extends "admin/admin.html" %}

{% block content %}
<ul class="admin-bread">
    <li><a href="{{ url_for('admin.courses') }}">Fag</a>
    <li>{{ course.code }}
</ul>

<h1 class="admin-header">{{ course }}</h1>

{{ version_history(course.versions) }}

<a href="#" class="admin-button collapse" data-target="#edit-course"><i class="fa fa-fw fa-edit"></i> Rediger</a>
<div id="edit-course" class="collapsed">
{{ render_form(form, '/api/courses/' + course.id|string, new=False) }}
</div>

<a href="#" class="collapse admin-button" data-target="#add-exam"><i class="fa fa-fw fa-plus"></i> Legg til ny eksamen</a>
<div id="add-exam" class="collapsed">
{{ render_form(exam_form, '/api/exams/') }}
</div>

<h2>Eksamener</h2>
<ul class="admin-list" data-api="/api/exams/" data-filter="?course_id={{ course.id }}" data-url="/admin/course/{{ course.id }}/" data-str="name"></ul>
{% endblock %}
