{% from "admin/_formhelpers.html" import render_form %}
{% extends "admin/admin.html" %}

{% block content %}
<ul class="admin-bread">
    <li><a href="{{ url_for('admin.courses') }}">Fag</a>
    <li><a href="{{ url_for('admin.course', course_id=question.course.id) }}">{{ question.course.code }}</a>
    <li><a href="{{ url_for('admin.exam', course_id=question.course.id, exam_id=question.exam.id) }}">{{ question.exam }}</a>
    <li>Spørsmål #{{ question.id }}
</ul>

<h1 class="admin-header">{{ question.course }} - {{ question.exam }}</h1>

{% if next_question %}
<div class="navigation">
    <a href="{{ url_for('admin.question', question_id=next_question.id) }}">Neste spørsmål</a>
</div>
{% endif %}

<div id="question-form">
{{ render_form(form, '/api/questions/' + question.id|string, new=False) }}
</div>

{% if question.multiple %}
<h2>Legg til nytt alternativ</h2>

{{ render_form(alt_form, '/api/alternatives/') }}

<h2>Alternativer</h2>
<ul class="admin-list" data-api="/api/alternatives/" data-filter="?question_id={{ question.id }}" data-url="/admin/question/{{ question.id }}/"></ul>
{% endif %}
{% endblock %}

{% block js %}
{{ super() }}
<script>
QuestionForm(document.querySelector("#question-form form"));
</script>
{% endblock %}