{% extends "quiz/quiz.html" %}
{% block title %}#{{ id }} - {{ question.course.code }} {{ question.exam.name }}{% endblock %}

{% macro navlink(id, name, text) %}
    <a href="{{ url_for('quiz.show_question', course=question.course.code, exam=exam_name, id=id) }}" id="{{ name }}">{{ text }}</a>
{% endmacro %}

{% block menu %}
<li><a href="/"><i class="fa fa-list fa-fw"></i>&nbsp; Emner</a></li>
<ul>
    <li {% if exam_name == 'all' %}class="active"{% endif %}>
        <a href="{{ url_for('quiz.course', course=question.course.code) }}">
            <i class="fa fa-book fa-fw"></i>&nbsp; {{ question.course.code }}
        </a>
    </li>
    <ul>
    {% for exam in question.course.exams %}
        <li {% if exam_name == exam.name %}class="active"{% endif %}>
            <a href="{{ url_for('quiz.exam', course=question.course.code, exam=exam) }}">
                <i class="fa fa-file-text fa-fw"></i>&nbsp; {{ exam }}
            </a>
        </li>
    {% endfor %}
    </ul>
</ul>
{% endblock %}

{% block content %}
<div class="question">
<h2>{{ question.course.name }} - {{ question.exam }}</h2>
{% if question is defined %}
<div class="question-container">
    <h3>Spørsmål #{{ id }}</h3>
    {% if question.image %}
    <div class="image">
        <img src="{{ url_for('static', filename='img/' + question.course.code + '/' + question.image) }}">
    </div>
    {% endif %}
    <h4>{{ question.text }}</h4>
    <form method="post">
        {% if question.multiple %}
        <input type="hidden" name="order" value="{{ question.choices|join(',', attribute='id') }}">
        {% for alternative in question.choices %}
        <div class="radio {% if (alternative.id)|string() == request.form.answer %}{{ 'success' if success else 'error' }}{% endif %}">
            <label>
                <input type="radio" name="answer" value="{{ alternative.id }}">
                {% if success is defined %}
                    <i class="fa {{ 'fa-check' if alternative.correct else 'fa-times' }} fa-fw"></i>
                {% endif %}
                {{ alternative }}
            </label>
        </div>
        {% endfor %}
        {% else %}
        {% for bool_val, val, label in [(True, "true", "Ja"), (False, "false", "Nei")] %}
        <div class="radio {% if val == request.form.answer %}{{ 'success' if success else 'error' }}{% endif %}">
            <label>
                <input type="radio" name="answer" value="{{ val }}">
                {% if success is defined %}
                    <i class="fa {{ 'fa-check' if  question.correct == bool_val else 'fa-times' }} fa-fw"></i>
                {% endif %}
                {{ label }}
            </label>
        </div>
        {% endfor %}
        {% endif %}
        <button type="submit">Svar</button>
    </form>
    {% if answered and question.reason %}
    <div class="alert reason">
        <b>Forklaring</b>:
        {{ question.reason }}
    </div>
    {% endif %}
</div>
{% endif %}
<div class="navigation">
{{ navlink(prev, 'prev', 'Forrige') }}
{{ navlink(random, 'random', 'Tilfeldig') }}
{{ navlink(next, 'next', 'Neste') }}
</div>
</div>
<div class="stats">
    <div class="grade">{{ grade(stats.points, stats.total ) }}</div>
    <div class="points">
        Poeng: {{ stats.points }}/{{ stats.total }}
        {% if stats.points == 4 and stats.total == 20 %}
        <blaze>blaze it</blaze>
        {% endif %}
        ({{ percentage(stats.points, stats.total) }}%)
    </div>
    <div class="combo">Combo: {{ stats.combo }}{% for _ in range(stats.combo // 10) %}<i class="fa fa-trophy"></i>{% endfor %}</div>
    <div class="progress">Spørsmål: {{ stats.total }}/{{ stats.max }}</div>
    <div class="reset"><a href="{{ reset_url }}"><i class="fa fa-undo"></i> Nullstill poeng</a></div>
</div>
<script type="scoop" id="question_template">
<h3>Spørsmål #{$ id }</h3>
{? if question.image }
<div class="image">
    <img src="{_ question.image }">
</div>
{?}
<h4>{$ question.text }</h4>
<form method="post">
    {? if question.multiple }
    {+ alternative in question.alternatives }
    <div class="radio">
        <label>
            <input type="radio" name="answer" value="{$ alternative.id }">
            {$ alternative.text }
        </label>
    </div>
    {+}
    {? else }
        {+ boolAlt in boolAlts }
        <div class="radio">
            <label>
                <input type="radio" name="answer" value="{_ boolAlt.value }">
                {$ boolAlt.label }
            </label>
        </div>
        {+}
    {?}
    <button type="submit">Svar</button>
</form>
</script>
<script type="scoop" id="stats_template">
<div class="grade">{$ stats.grade }</div>
<div class="points">
    Poeng: {$ stats.points }/{$ stats.total }
    {? if stats.points == 4 && stats.total == 20 }
    <blaze>blaze it</blaze>
    {?}
    ({$ stats.percentage }%)
</div>
<div class="combo">Combo: {$ stats.combo }{+ _ in new Array(Math.round(stats.combo / 10)) }<i class="fa fa-trophy"></i>{+}</div>
<div class="progress">Spørsmål: {$ stats.total }/{$ stats.max }</div>
<div class="reset"><a href="{{ reset_url }}"><i class="fa fa-undo"></i> Nullstill poeng</a></div>
</script>
{% endblock %}

{% block js %}
{{ super () }}
<script>
    var q = new Questions();
</script>
{% endblock %}
