{% extends "base.html" %}

{% block menu %}
<li class="active"><a href="/"><i class="fa fa-list fa-fw"></i>&nbsp; Emner</a></li>
<ul>
{% for course in courses %}
    <li>
        <a href="{{ url_for('quiz.course', course=course.code) }}">
            <i class="fa fa-book fa-fw"></i>&nbsp; {{ course.code }}
        </a>
    </li>
{% endfor %}
</ul>
{% endblock %}

{% block js %}
{{ super() }}
    {% assets "app_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
