.admin-list {
    list-style: decimal;
}

.admin-list li {
    background-color: rgb(176, 176, 176);
    margin: 0;
    border: 0.1rem solid gray;
    border-top: none;
}

/* Add top border on first element */
.admin-list li:nth-child(1) {
    border-top: 0.1rem solid gray;

}

.admin-list li:nth-child(even) {
    background-color: rgb(224, 224, 224);
}

.admin-list a {
    display: inline-block;
    padding: 1.0rem;
}

.admin-list a:hover {
    text-decoration: underline;

}

.admin-list a.link {
    width: 80%;
    height: 100%;
}

.admin-list a.delete {
    float: right;
}

/* Register link on admin login */
.admin-register {
      font-size: 1.8rem;
      color: #203949;
      font-weight: bold;
      margin: 1.0rem 0;
      float: left;
}

.admin-header {
    margin-bottom: 1.0rem;
}

.admin-button {
    color: #464646;
    font-size: 1.8rem;
}

.admin-button:hover {
    text-decoration: underline;
}
