<!DOCTYPE html>
<html lang="en">
<head>
	<title>Memorizer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>
        Memorizer
        <a href="#" id="shortkeys" title="Hurtigtaster" data-content="
            <li>Velg alternativ: 1, 2, 3 or 4</li>
            <li>Svar: {spacebar}</li>
            <li>Neste/Forrige spørsmål: Pil høyre/venstre</li>"
        role="button"><span class="glyphicon glyphicon-info-sign"></span></a>
    </h1>
	{% block content %}{% endblock %}
</div>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
