<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Memorizer{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
<nav class="sidebar">
    <div class="logo">Memorizer</div>
    <ul>
        <li><a href="/"><i class="fa fa-book fa-fw"></i>&nbsp; Emner</a></li>
        <ul>
            <li><a href="/"><i class="fa fa-book fa-fw"></i>&nbsp; Emner</a></li>
            <li><a href="/"><i class="fa fa-book fa-fw"></i>&nbsp; Emner</a></li>
            <ul>
                <li><a href="/"><i class="fa fa-book fa-fw"></i>&nbsp; Emner</a></li>
                <li><a href="/"><i class="fa fa-book fa-fw"></i>&nbsp; Emner</a></li>
            </ul>
            <li><a href="/"><i class="fa fa-book fa-fw"></i>&nbsp; Emner</a></li>
            <li><a href="/"><i class="fa fa-book fa-fw"></i>&nbsp; Emner</a></li>
        </ul>
    </ul>
    <ul>
        <li><a href="/about">Info</a></li>
        <li><a href="/about">Kildekode</a></li>
        <li><a href="/about">Kontakt</a></li>
    </ul>
</nav>
<div class="container">
    <h1>
        Memorizer
        <a href="#" id="shortkeys" title="Hurtigtaster" data-content="
            <li>Velg alternativ: 1, 2, 3 or 4</li>
            <li>Svar: {spacebar}</li>
            <li>Neste/Forrige spørsmål: Pil høyre/venstre</li>
	    <li>Tilfeldig spørsmål: Pil opp</li>"
        role="button"><span class="glyphicon glyphicon-info-sign"></span></a>
    </h1>
    <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            {% if breadcrumb.url %}
                <li><a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a></li>
            {% else %}
                <li class="active">{{ breadcrumb.name }}</li>
            {% endif %}
        {% endfor %}
    </ol>
  {% block content %}{% endblock %}
</div>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% if config.GOOGLE_ANALYTICS %}
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ config.GOOGLE_ANALYTICS }}', 'cxhristian.com');
    ga('send', 'pageview');

</script>
{% endif %}
</body>
</html>
