<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Memorizer{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% assets "css" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
    {% endassets %}
    <link href='//fonts.googleapis.com/css?family=Alegreya+SC:700|Roboto:500,700,400' rel='stylesheet' type='text/css'>
    <meta name="theme-color" content="#203949">
    {% if config.GOOGLE_ANALYTICS %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ config.GOOGLE_ANALYTICS }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endif %}
</head>
<body>
<nav class="top">
    <div class="container">
        <ul>
            <li class="menu">
                <i class="fa fa-fw fa-navicon"></i>
                <span>Meny</span>
            </li>
            <li class="logo">
                <a href="/">Memorizer</a>
            </li>
        </ul>
        {% if user.registered %}
        <ul class="right">
            <li class="user">
                <i class="fa fa-fw fa-user"></i>
                {{ user.username }}
            </li>
        </ul>
        {% endif %}
    </div>
</nav>
<nav class="sidebar closed">
    <ul>
        {% if user.registered %}
        <li><a href="{{ url_for('quiz.logout') }}"><i class="fa fa-sign-out fa-fw"></i>&nbsp; Logg ut</a></li>
        {% else %}
        <li><a href="{{ url_for('quiz.register') }}"><i class="fa fa-user-plus fa-fw"></i>&nbsp; Registrering</a></li>
        <li><a href="{{ url_for('quiz.login') }}"><i class="fa fa-sign-in fa-fw"></i>&nbsp; Logg inn</a></li>
        {% endif %}
    </ul>
    <ul>
    {% block menu %}{% endblock %}
    </ul>
    <ul>
        <li><a href="/tips"><i class="fa fa-info-circle fa-fw"></i>&nbsp; Tips</a></li>
        <li><a href="https://github.com/cXhristian/memorizer"><i class="fa fa-github fa-fw"></i>&nbsp; Kildekode</a></li>
        <li><a href="mailto:memorizer@cxhristian.com"><i class="fa fa-envelope fa-fw"></i>&nbsp; Kontakt</a></li>
    </ul>
</nav>
<div class="container">
    <ul class="alerts">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for level, message in messages %}
          <li class="alert {{ level }}">{{ message }}</li>
        {% endfor %}
    {% endwith %}
    </ul>
{% block content %}{% endblock %}
</div>
{% block js %}
{% assets "js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
</body>
</html>
