{% extends "base.html" %}
{% block title %}#{{ id }} - {{ question.course.code }} {{ question.exam.name }}{% endblock %}

{% macro navlink(id, name, text) %}
    <a href="{{ url_for('show_question', course=question.course.code, exam=exam_name, id=id) }}" id="{{ name }}">{{ text }}</a>
{% endmacro %}

{% block menu %}
<li><a href="/"><i class="fa fa-list fa-fw"></i>&nbsp; Emner</a></li>
<ul>
    <li {% if exam_name == 'all' %}class="active"{% endif %}>
        <a href="{{ url_for('course', course=question.course.code) }}">
            <i class="fa fa-book fa-fw"></i>&nbsp; {{ question.course.code }}
        </a>
    </li>
    <ul>
    {% for exam in question.course.exams %}
        <li {% if exam_name == exam.name %}class="active"{% endif %}>
            <a href="{{ url_for('exam', course=question.course.code, exam=exam) }}">
                <i class="fa fa-file-text fa-fw"></i>&nbsp; {{ exam }}
            </a>
        </li>
    {% endfor %}
    </ul>
</ul>
{% endblock %}

{% block content %}
<div class="question">
<h2>{{ question.course.name }} - {{ question.exam }}</h2>
<h3>Spørsmål #{{ id }}</h3>
{% if question is defined %}
{% if question.image %}
<div class="image">
    <img src="{{ url_for('static', filename='img/' + question.course.code + '/' + question.image) }}">
</div>
{% endif %}
<h4>{{ question.text }}</h4>
<form method="post">
    <input type="hidden" name="order" value="{{ question.alternatives|join(',', attribute='number') }}">
    {% for alternative in question.alternatives %}
    {% if (alternative.number)|string() == request.form.answer %}<div class="{% if success %}success{% else %}error{% endif %}">{% endif %}
        <div class="radio">
        <label>
            <input type="radio" name="answer" value="{{ alternative.number }}">
            {% if success is defined %}
                <i class="fa {% if alternative.correct %}fa-check{% else %}fa-times{% endif %} fa-fw"></i>
            {% endif %}
            {{ alternative }}
        </label>
        </div>
    {% if alternative.number|string() == request.form.answer %}</div>{% endif %}
    {% endfor %}
    <button type="submit">Svar</button>
</form>
{% endif %}
<div class="navigation">
{{ navlink(prev, 'prev', 'Forrige') }}
{{ navlink(random, 'random', 'Tilfeldig') }}
{{ navlink(next, 'next', 'Neste') }}
</div>
</div>
<div class="stats">
    <div class="grade">{{ grade(score.points, score.total ) }}</div>
    <div class="points">Poeng: {{ score.points }}/{{ score.total }} ({{ percentage(score.points, score.total) }}%)</div>
    <div class="combo">Combo: {{ score.combo }}{% for _ in range(score.combo // 10) %}<i class="fa fa-trophy"></i>{% endfor %}</div>
    <div class="progress">Spørsmål: {{ score.total }}/{{ num_questions }}</div>
    <div class="reset"><a href="{{ reset_url }}">Nullstill</a></div>
</div>
{% endblock %}
